.app-header {
  padding: 0;
  margin: 0;
  min-height: 300px;
  background-color: #85b2c9;
  /* background: url('https://mm.creativelive.com/fit/https%3A%2F%2Fagc.creativelive.com%2Fagc%2Fpages%2Ftopic-hero%2FPhoto_Photoshop_LtRm_1600x900.jpg/1350'); */
  background-size: 100% 86%;
}
