<div class="container app-header">
  <div class="row padding-md">
    <img class="sm-logo" src="./assets/icon_logo_small.svg" alt="health nexus">
  </div>
  <div class="row padding-bottom-lg">
    <img class="center" src="./assets/icon_logo_1x.png" alt="health nexus">
  </div>
  <!-- <div class="row padding-bottom-lg">
    <img class="center" src="assets/icon_logo_1x.png" alt="health nexus">
  </div>
  <div class="row padding-bottom-lg">
    <img class="center" src="/KeyManager/assets/icon_logo_1x.png" alt="health nexus">
  </div> -->
</div>
