<div class="container">
  <div class="row drs" [hidden]="selectedParentKey || selectedChildKey">
    <span>Instructions on how to operate Health Nexus Data Sharing for Phuse</span>
    <br>
    <small>1. Create or choose a parent key to attach to your database</small>
    <br>
    <small>2. Next, create a child key off of the given parent key</small>
    <br>
    <small>3. Then, create a child key off of the given parent key and set parameters</small>
    <br>
    <small>4. Next, set PhUSE id and retrieve the  key data</small>
    <br>
    <small>5. If needed, upload data that you will need to transfer either here or through your gatekeeper itself</small>
    <br>
    <small>6. Finally, transact the key</small>
    <br>
    <small>For a more thorough walk through please check out our <a href="https://medium.com/simplyvital/lets-hit-the-ground-running-with-health-nexus-5c25df21c56d">walkthrough</a></small>
    <span>Create new parent key</span>
    <input type="text" class="form-control" placeholder="Enter parent key value here" name="url" #url>
    <button class="form-control" (click)="createService(url.value)">Generate</button>
    <br>
    <small>Create a parent key with the URL to your gatekeeper or blockchain enabled service</small>
    <br>
    <div class="row padding-top-lg">
      <span [ngClass]="{'hidden': !loaded, 'inline': loaded}">My parent keys</span>
      <div *ngFor="let service of services">
        <span class="clickable margin-v-sm" (click)="pickParentKey(service._service)">{{ service._service }}: {{ service.url | async }}</span>
      </div>
      <div class="col-9 padding-top-lg">
        <span>Purchase keys</span>
        <input type="text" class="half form-control" placeholder="Key to purchase" name="keyPurchase" #keyPurchase>
        <button class="form-control" (click)="purchaseKey(keyPurchase.value)">Purchase</button>
        <br>
        <small>Insert the id for the key you would like to purchase</small>
        <br>
      </div>
      <div class="col-9 padding-top-lg">
        <span>Owned/Shared keys</span>
        <!-- <div *ngFor="let key of keys">
          <span class="clickable margin-v-sm" (click)="pickChildKey(key.key)">{{ key.key }}</span>
        </div> -->
        <div *ngFor="let keyShared of keyAccessArray">
          <span class="clickable margin-v-sm" (click)="pickChildKey(keyShared.key)">{{ keyShared.key }}: {{ keyShared.url }}</span>
        </div>
      </div>
      <!-- <div class="col-9 padding-top-lg">
        <span>Make trade offer</span>
        <input type="text" class="half form-control" placeholder="Key to trade" name="keyTrade" #keyTrade>
        <input type="text" class="half form-control" placeholder="Key to trade for" name="keyToTrade" #keyToTrade>
      </div>
      <div class="col-9 padding-top-lg">
        <div class="border-bottom padding-v-lg">
          <div class="col-6">
            <span>Outstanding trade offers</span>
            <div class="padding-sm">
              <span class="bold margin-v-sm inline">absaklsa2js923cde</span>
              <span class="inline float-right clickable padding-h-sm">Cancel</span><span class="float-right inline">|</span><span class="inline clickable float-right padding-h-sm">View</span>
            </div>
            <div class="padding-sm">
              <span class="bold margin-v-sm inline">absaklsa2js923cde</span>
              <span class="inline float-right clickable padding-h-sm">Cancel</span><span class="float-right inline">|</span><span class="inline clickable float-right padding-h-sm">View</span>
            </div>
          </div>
        </div>
        <div class="border-bottom padding-v-lg">
          <div class="col-6">
            <span>Incoming trade offers</span>
            <div class="padding-sm">
              <span class="bold margin-v-sm inline">absaklsa2js923cde</span>
              <span class="inline float-right clickable padding-h-sm">Decline</span><span class="float-right inline">|</span><span class="inline clickable float-right padding-h-sm">Accept</span>
            </div>

            <div class="padding-sm">
              <span class="bold margin-v-sm inline">absaklsa2js923cde</span>
              <span class="inline float-right clickable padding-h-sm">Decline</span><span class="float-right inline">|</span><span class="inline clickable float-right padding-h-sm">Accept</span>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div [hidden]="!selectedParentKey && !selectedChildKey">
    <!-- PARENT KEY VIEW -->
    <div class="row" [hidden]="selectedChildKey">
      <span class="padding-bottom-md">Managing parent key</span>
      <span class="bold"> {{ selectedParentKey && selectedParentKey._service }}: {{ selectedParentKey && selectedParentKey.url | async }} </span>
      <span class="padding-top-lg">Child keys</span>
      <small>Generate the permissioned childkeys here to be traded</small>
      <br>
      <button class="form-control" (click)="createParentKey(selectedParentKey && selectedParentKey._service)">Generate new</button>
      <div *ngIf="selectedParentKey && selectedParentKey.keys">
        <div *ngFor="let key of selectedParentKey.keys">
          <span class="clickable padding-v-sm" (click)="pickChildKey(key.id)"> {{ key.id }}</span>
        </div>
      </div>
    </div>

    <!-- CHILD KEY VIEW -->
    <div class="row" [hidden]="!selectedChildKey">
      <span class="padding-bottom-md">Managing child key</span>
      <span class="bold">{{ selectedChildKey && selectedChildKey.id || selectedChildKey && selectedChildKey.key }}</span>
      <br>
      <p>Update or Register your PhUSE ID</p>
      <br>
      <small>Register you PhUSE Id with Health Nexus to connect with the PhUSE App</small>
      <br>
        <input type="text" class="half form-control" placeholder="PhUSE ID" name="phuseNumber" #phuseNumber>
        <button class="form-control" (click)="updatePhuse(phuseNumber.value)">Update</button>
      <br>
      <p>Upload file to gatekeeper</p>
      <small>Upload a file to the gatekeeper server</small>

      <div class="form-group">
        <label for="file">Choose File</label>
        <br>
        <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)" style="width:90px">
         </div>
      <small class="padding-top-lg" style="padding-top: 10px;">Retrieve child key data</small>
      <div *ngIf="image">
        <img [src]="image" />
      </div>
      <div *ngIf="json"> {{ json }}</div>
      <span class="warning margin-v-sm">Warning: not verified for sensitive data; any data may be unsanitized.  Additionally, make sure to only download data from trusted sources.  We are not verifing the safety of the data</span>
      <br>
      <small>Insert the parameter you would like to use to retrieve the data</small>
      <br>
      <div>
        <input type="text" class="form-control" placeholder="Insert parameter to send" name="Parameter" #Parameter>
        <button class="form-control" (click)="retrieveData(Parameter.value)">Retrieve</button>
      </div>


      <div class="permissions clearfix" [hidden]="!selectedParentKey">
        <span class="padding-top-lg inline">Managing child key permissions</span>
        <br>
        <small>Edit your permissions for your child key here</small>
        <br>
        <span class="text-brand-blue clickable float-right"
          [hidden]="!editingPermissions"
          (click)="changePermissions()">Save Permissions</span>
        <div class="border-bottom">
          <div class="padding-sm clearfix">
            <div class="col-6 float-left">
              <span class="bold margin-v-sm inline">Share</span>
            </div>
            <span class="inline clickable float-left padding-h-sm"
            (click)="setActive('share', true)"
            [ngClass]="{'active': selectedChildKey && selectedChildKey.share }">On</span>
            <span class="float-left inline">|</span>
            <span class="inline float-left clickable padding-h-sm"
            (click)="setActive('share', false)"
            [ngClass]="{'active': selectedChildKey && !selectedChildKey.share }">Off</span>
          </div>
        </div>

        <div class="border-bottom">
          <div class="padding-sm clearfix">
            <div class="col-6 float-left">
              <span class="bold margin-v-sm inline">Sell</span>
            </div>
            <span class="inline clickable float-left padding-h-sm"
            (click)="setActive('sell', true)"
            [ngClass]="{'active': selectedChildKey && selectedChildKey.sell }">On</span>
            <span class="float-left inline">|</span>
            <span class="inline float-left clickable padding-h-sm"
            (click)="setActive('sell', false)"
            [ngClass]="{'active': selectedChildKey && !selectedChildKey.sell }">Off</span>
          </div>
        </div>

        <div class="border-bottom">
          <div class="padding-sm clearfix">
            <div class="col-6 float-left">
              <span class="bold margin-v-sm inline">Trade</span>
            </div>
            <span class="inline clickable float-left padding-h-sm"
            (click)="setActive('trade', true)"
            [ngClass]="{'active': selectedChildKey && selectedChildKey.trade }">On</span>
            <span class="float-left inline">|</span>
            <span class="inline float-left clickable padding-h-sm"
            (click)="setActive('trade', false)"
            [ngClass]="{'active': selectedChildKey && !selectedChildKey.trade }">Off</span>
          </div>
        </div>
        <br>
        <small>Set custom permissions, including paramters for your database, here</small>
        <br>
        <div *ngIf="childParamsArray">
          <div *ngFor="let keyParamName of childParamsArray" class="border-bottom">
            <div class="padding-sm clearfix">
              <div class="col-6 float-left">
                <span class="bold margin-v-sm inline">{{ keyParamName }}</span>
              </div>
              <span class="inline clickable float-left padding-h-sm"
              title="click to update value"
              [ngClass]="{'hidden': editingParam[keyParamName], 'inline': !editingParam[keyParamName]}"
              (click)="editParam(keyParamName)">{{ childParams[keyParamName] }}</span>
              <div class="float-left padding-h-sm"
              [ngClass]="{'hidden': !editingParam[keyParamName], 'flexContainer': editingParam[keyParamName]}">
                <input name="new-{{keyParamName}}" type="text" placeholder="New value" #newParamValue>
                <button (click)="setData(keyParamName, newParamValue.value)">&#10003;</button>
              </div>
              <span class="float-left inline">|</span>
              <span class="inline float-left clickable padding-h-sm" (click)="setData(keyParamName, null)">Remove</span>
            </div>
          </div>
        </div>
        <div class="editing">
          <input type="text" class="half form-control" placeholder="Enter parameter name to get" name="getParamName" #getParamName>
          <button class="form-control" (click)="getData(getParamName.value)">Get</button>
          {{ dataOnKey | async }}
        </div>
        <div class="editing">
          <input type="text" class="half form-control" placeholder="Enter parameter name" name="paramName" #paramName>
          <input type="text" class="half form-control" placeholder="Enter parameter value" name="paramValue" #paramValue>
          <button class="form-control" (click)="setData(paramName.value, paramValue.value)">Add</button>
        </div>
      </div>

      <!-- Child key management section -->
      <div [hidden]="!selectedParentKey">
        <div class="col-9 padding-top-lg" *ngIf="selectedChildKey && selectedChildKey.share" [ngClass]="{'disabled': editingPermissions}">
          <span>Share keys</span>
          <small>Insert the address for the person you would like to share with</small>
          <input type="text" class="form-control" placeholder="Share with" name="share" #share>
          <button class="form-control"
          [disabled]="editingPermissions"
          (click)="shareKey(selectedChildKey && selectedChildKey.id, share.value)">Share</button>
        </div>

        <div class="col-9 padding-top-lg" *ngIf="selectedChildKey && selectedChildKey.share" [ngClass]="{'disabled': editingPermissions}">
          <span>Unshare keys</span>
          <input type="text" class="form-control" placeholder="Unshare with" name="unshare" #unshare>
          <button class="form-control"
          [disabled]="editingPermissions"
          (click)="unshareKey(selectedChildKey && selectedChildKey.id, unshare.value)">Unshare</button>
        </div>

        <div class="col-9 padding-top-lg" *ngIf="canMakeSaleOffer()" [ngClass]="{'disabled': editingPermissions}">
          <span>Make sale offer</span>
          <small>Insert the address for the person you would like to make an offer to</small>
          <input type="text" class="half form-control" placeholder="Sell to"  name="buyer" #buyer>
          <input type="number" class="half form-control" placeholder="Amount" name="price" #price>
          <span class="inline text-md">Can sell: <input type="checkbox" name="sellPermission" #sellPermission></span>
          <button class="form-control"
          [disabled]="editingPermissions"
          (click)="sellKeyOffer(buyer.value, price.value, sellPermission.checked)">Send</button>
        </div>
        <span class="text-brand-blue can-click padding-top-lg" (click)="cancelTradeKeyOffer(selectedChildKey && selectedChildKey.id)">Cancel all outstanding trade offers</span>
      </div>
    </div>
  </div>
</div>
