<p>
  <div [ngClass]="{'hidden': isRinkeby, 'data-warning': !isRinkeby}">You are not connected to the Rinkeby Test network.</div>
  <div [ngClass]="{'hidden': !isRinkeby, 'data-warning': isRinkeby}">You are connected to the Rinkeby Test network. Do not spend real ETH on Rinkeby.</div>
  <button (click)="displayData()">Update Services</button>
  <br>
  Data Display:
  {{dataToDisplay | async}}
  <br>
  <div *ngIf="image">
    <img [src]="image" />
    <br>

  </div>
  <div *ngIf="dataOnKey">
    <br>
      Key Data:
      {{dataOnKey | async}}
      <br>
  </div>

  <div>
  Purchase Key: <input type="text" name="keyPurchase" #keyPurchase>
  <button (click)="purchaseKey(keyPurchase.value)">Purchase Key</button>
  </div>

  <div>
  Approve HLTH: <input type="text" name="amount" #amount>
  <button (click)="approveHLTH(amount.value)">Approve HLTH to be spent</button>
  </div>

  <br>
    URL: <input type="text" name="url" #url>
    <button (click)="createService(url.value)">Create Service</button>
  <h3>
    <ul>
      <li (click)="expand(service)" *ngFor="let service of services">
        {{ service._service }}: {{service.url | async}}
        <br>
        <button (click)="createKey(service._service)">Create Key</button>
        <ul *ngIf="service.keysExist">
          <li *ngFor="let key of service.keys">
              Current Owner: {{key.owner}}
              <br>
              Retrieve data from Database:
              Parameter: <input type="text" name="Parameter" #Parameter>
              <button (click)="retrieveData(service.url.__zone_symbol__value,Parameter.value,key.id)">Retrieve Data</button>
              <div class="data-warning">
                Using the default client to retrieve sensitive medical data is not advised. This is an example implementaiton for use with non-sensitive data only.
              </div>
              <br>
              <div *ngIf="keyOwners[key.id].length>0">
                Shared With: {{keyOwners[key.id]}}
              </div>
              <br>
              Set Key Data:
              <br>
              Type of data: <input type="text" name="Type" #Type>
              Data: <input type="text" name="Data" #Data>
              <button (click)="setData(key.id,Type.value,Data.value)">Set Key Data</button>
              <br>
              Type of data: <input type="text" name="Type" #Type>
              <button (click)="getData(key.id,Type.value)">Get Key Data</button>
              Sharing Status: {{key.share}}
              <div *ngIf="key.share && key.owner==service._owner">
                <br>
                Share With: <input type="text" name="share" #share>
                <button (click)="shareKey(key.id,share.value)">Share Key</button>
                <br>

                Unshare With: <input type="text" name="unshare" #unshare>
                <button (click)="shareKey(key.id,unshare.value)">Unshare Key</button>
                <br>

              </div>
              <br>
              Trading Status: {{key.trade}}
              <div *ngIf="key.trade && keyOwners[key.id].length==0">
                <br>
                Key to Trade for: <input type="text" name="keyToTrade" #keyToTrade>
                <button (click)="tradeKeyOffer(key.id,keyToTrade.value)">Trade Key Offer</button>
                <br>
                <button (click)="cancelTradeKeyOffer(key.id)">Cancel Trade Key Offer</button>
                <br>
                Trade Key: <input type="text" name="keyTrade" #keyTrade>
                <button (click)="tradeKey(key.id,keyTrade.value)">Trade Keys</button>
              </div>
              <br>
              Selling Status:{{key.sell}}
              <div *ngIf="key.sell && keyOwners[key.id].length==0">
                <br>
                Buyer Address: <input type="text" name="buyer" #buyer>
                Price: <input type="number" name="price" #price>
                Can Sell: <input type="checkbox" name="sellPermission" #sellPermission>
                <button (click)="sellKeyOffer(key.id,buyer.value,price.value,sellPermission.checked)">Sell Key Offer</button>
                <br>
                <button (click)="cancelSellKeyOffer(key.id)">Cancel Sell Key Offer</button>
              </div>
              <br>
              <div *ngIf="key.owner==service._owner">
                Change Permissioning
                <br>
                Can Share: <input type="checkbox" name="sharePermission" #sharePermission>
                Can Trade: <input type="checkbox" name="tradePermission" #tradePermission>
                Can Sell: <input type="checkbox" name="sellPermission" #sellPermission>
                <button (click)="changePermission(key.id,sharePermission.checked,tradePermission.checked,sellPermission.checked)">Change Permissions</button>
                <br>
              </div>
        </ul>
    </ul>
    <br>
    <div *ngIf="keys.length>0">
      Owned Keys:
      <br>
      <ul>
        <li *ngFor="let key of keys">
          {{key | async}}
          <br>
      </ul>
    </div>
    <div *ngIf="keyAccessArray">
      Shared Keys:
      <br>
      <ul>
        <li *ngFor="let keyShared of keyAccessArray">
            <div (click)="togglePane($event)">{{keyShared.key }} : {{keyShared.url }}</div>
            <div class="hidden">
              <br>
              Parameter: <input type="text" name="Parameter" #Parameter>
              <button (click)="retrieveData(keyShared.url,Parameter.value,keyShared.key)">Retrieve Data</button>
              <div class="data-warning">
                Using the default client to retrieve sensitive medical data is not advised. This is an example implementaiton for use with non-sensitive data only.
              </div>
              <br>
              Set Key Data:
              <br>
              Type of data: <input type="text" name="Type" #Type>
              Data: <input type="text" name="Data" #Data>
              <button (click)="setData(keyShared.key,Type.value,Data.value)">Set Key Data</button>
              <br>
              Type of data: <input type="text" name="Type" #Type>
              <button (click)="getData(keyShared.key,Type.value)">Get Key Data</button>
              <br>

              Sharing Status: {{keyShared.share}}
              <div *ngIf="keyShared.share">
                <br>
                Share With: <input type="text" name="share" #share>
                <button (click)="shareKey(keyShared.key,share.value)">Share Key</button>
                <br>

                Unshare With: <input type="text" name="unshare" #unshare>
                <button (click)="shareKey(keyShared.key,unshare.value)">Unshare Key</button>
                <br>
              </div>
              <br>
              <br>
          </div>
        </li>
      </ul >
    </div>
  </h3>
