.permissions .padding-sm.clearfix {
  max-width: 1000px;
  height: 37px;
}

.button {
  background-color: #6BAACC; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  margin-bottom: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
}

.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.listTitle {
  text-decoration: underline;
  font-size:20px;
  padding: 10px 10px 10px 0px;

}

.listElement {
  font-size:16px;
  padding: 5px 10px 2px 10px;
}

#walkthrough{
  font-size:16px;
  padding: 12px 10px 2px 0px;
}

.title {
  font-size:24px;
  text-decoration: underline;
}

.element{
  font-size:16px;
  padding: 8px 10px 0px 0px;
}