<app-header></app-header>
<div id="main" class="padding-xl">
  <div *ngIf="!authorized">
    <app-welcome></app-welcome>
  </div>

  <div *ngIf="authorized">
    <div *ngIf="selectedParentKey === undefined">
      <app-tabs>
          <app-tab tabTitle="My Tokens">
            <app-token></app-token>
          </app-tab>
          <app-tab tabTitle="My Keys">
            <app-drs></app-drs>
          </app-tab>
      </app-tabs>
    </div>

    <div *ngIf="selectedParentKey">
      <div class="padding-v-md">
        <span class="inline" (click)="clearSelectedKeys()">My Keys</span> > Parent Key
      </div>
      <div class="content">
        <div class="row tokens">
          <span class="padding-bottom-md">Managing Parent Key</span>
          <span class="bold"> {{ selectedParentKey }} </span>
          <span class="padding-v-lg">Child Keys</span>
          <button class="form-control">Generate new</button>
          <span class="clickable"> {{ selectedParentKey }} </span>
          <span class="clickable"> {{ selectedParentKey }} </span>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
