<div class="content text-center">

  <img class="padding-md" src="./assets/icon_wallet.svg" alt="health nexus">

  <span class="padding-top-md">Welcome to the HNexus Wallet.</span>
  <span>Manage your HNexus tokens and keys here.</span>
  <div class="padding-lg">
    <span class="brand-blue divider"></span>
  </div>
  
  <div>
    <div *ngIf="isWeb3" class="text-brand-blue can-click" (click)="reloadPage()">To begin, login with Metamask and refresh the page.</div>
    <div *ngIf="!isWeb3">
      <a href="https://metamask.io/" target="_blank" class="text-brand-blue can-click" style="text-decoration:none">MetaMask is required. To install, please click here.</a>
    </div>
  </div>

</div>



